/** @format */
@import 'primeflex/primeflex.css';
main {
	background: linear-gradient(#636262, #636262);
	width: 100%;
	min-height: 100vh;
	padding: 20px;
}
header {
	width: 100%;
	min-height: 10vh;
	border-radius: 4px;
}
.p-menubar ul {
	margin-left: auto;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
	color: #073eaa;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
	background-color: #073eaa !important;
	color: #fff !important;
}
.p-menubar
	.p-menubar-root-list
	> .p-menuitem
	> .p-menuitem-link
	.p-menuitem-text {
	color: unset;
}
.p-menubar
	.p-menubar-root-list
	> .p-menuitem
	> .p-menuitem-link
	.p-menuitem-text:hover {
	color: #fff !important;
}
.p-menubar .p-menubar-button {
	justify-content: center;
	margin-left: auto;
}
.p-card {
	color: #000;
}
