/** @format */
@import 'primeflex/primeflex.css';
main {
	background: #636262;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
}
header {
	width: 100%;
	min-height: 10vh;
	border-radius: 4px;
}
.p-menubar ul {
	margin-left: auto;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
	color: #073eaa;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
	background-color: #073eaa !important;
	color: #fff !important;
}
.p-menubar
	.p-menubar-root-list
	> .p-menuitem
	> .p-menuitem-link
	.p-menuitem-text {
	color: unset;
}
.p-menubar
	.p-menubar-root-list
	> .p-menuitem
	> .p-menuitem-link
	.p-menuitem-text:hover {
	color: #fff !important;
}
.p-menubar .p-menubar-button {
	justify-content: center;
	margin-left: auto;
}
.p-card {
	color: #000;
}
.p-card .p-card-content {
	padding: unset;
}
.p-chip img {
	border-radius: 0px;
}
.p-card .p-card-title {
	font-size: 20px;
	color: #e34f26;
	font-family: 'Merriweather', serif;
	font-weight: 900;
}

.dialog-demo .p-button {
	margin: 0 0.5rem 0 0;
	min-width: 10rem;
}

.dialog-demo p {
	margin: 0;
	line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
	min-width: 6rem;
}
