/** @format */
@import 'primeflex/primeflex.css';
/* 073eaa */
main {
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
}
header {
	width: 100%;
	min-height: 10vh;
	position: fixed;
	z-index: 99;
}
.colorChange {
	background-color: #073eaa;
}
.p-menubar ul {
	margin-left: auto;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
	color: #fff;
	border-radius: 0 !important;
	text-align: left !important;
	margin-right: 8px;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
	background: none !important;
	border-bottom: 2px solid;
	border-radius: 0;
}
.p-menubar .p-menubar-button {
	justify-content: center;
	margin-left: auto;
}
.p-card {
	color: #000;
}
.p-card .p-card-content {
	padding: unset;
}
.p-chip img {
	border-radius: 0px;
}
.p-card .p-card-title {
	font-size: 20px;
	color: #fd9b4d;
	font-family: 'Merriweather', serif;
	font-weight: 900;
}
.p-card small {
	color: #fd9b4d;
}
.p-menubar {
	border-radius: 0;
	background: none;
	border: none;
}
.box-work {
	background-color: #073eaa;
	padding: 20px;
	color: #fff;
}
#blog {
	background-color: #073eaa;
	padding: 20px;
	color: #fff;
}
.experience {
	padding: 20px;
}
.skill {
	padding: 20px;
}
.interest {
	padding: 20px;
}
.p-dialog-mask {
	z-index: 9999 !important;
}
@media screen and (max-width: 1029px) {
	.p-dialog {
		width: 80vw !important;
	}
}
@media screen and (max-width: 730px) {
	.p-dialog {
		width: 94vw !important;
	}
}
