/** @format */
.timeline {
	position: relative;
	max-width: 1800px;
	color: #000000;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.right {
	left: 50%;
}
.timeline__content {
	padding: 30px 0;
	position: relative;
	background-color: inherit;
	width: 50%;
	word-wrap: break-word;
}
.timeline__content::after {
	background-color: #fefefe;
}
.right::after {
	left: -16px;
}
.timeline__content::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: #fd9b4d;
	border: 4px solid #073eaa;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #073eaa;
	border-radius: 8px;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.left {
	left: 0;
}
.timeline__content {
	padding: 30px 0;
	position: relative;
	background-color: inherit;
	width: 50%;
	word-wrap: break-word;
}
.col {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;
	justify-content: center;
}
.content {
	padding: 20px 30px;
	background-color: #fff;
	position: relative;
	border-radius: 6px;
}
.exp_header {
	color: #073eaa;
}
.exp__date {
	font-size: 14px;
	margin: 8px 0;
	color: #fd9b4d;
}
.exp__list li {
	font-size: 14px;
}
.exp__list li a {
	color: #073eaa;
}
@media screen and (max-width: 899px) {
	.timeline::after {
		left: 10px;
	}
	.timeline__content::before {
		left: 0;
		border: medium solid #fff;
		border-width: 10px 10px 10px 0;
		border-color: transparent #fff transparent transparent;
	}
	.left::after,
	.right::after {
		left: -10px !important;
	}
	.timeline__content {
		width: 100%;
		padding: 30px 0;
	}
	.right {
		left: 0;
	}
}
